<h1>Actor #<%= @actor.id %></h1>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @actor.image_url %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Bio:</b>
  <%= @actor.bio %>
</p>


