<h1>Editing Movie #<%= @movie.id %></h1>


<%= form_tag(movie_url(@movie), method: 'patch') do %>

  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title, @movie.title %>
  </div>

  <div>
    <%= label_tag :year %><br />
    <%= number_field_tag :year, @movie.year %>
  </div>

  <div>
    <%= label_tag :director_id %><br />
    <% directors = Director.all.order("name") %>

    <%= select_tag "director_id",
             options_from_collection_for_select(directors, :id, :name, @movie.director_id) %>
</div>


  <div>
    <%= submit_tag "Update Movie" %>
  </div>

<% end %>
