<p><%= link_to 'Add a New Movie', new_movie_url %></p>

<h3>Random Movies</h3>
<div class="ribbon">
  <% @movies.shuffle.take(15).each do |movie| %>
    <%= link_to image_tag(movie.image_url, class: "poster-container"), movie_url(movie.id) %>
  <% end %>
</div>

<h3>70s Movies</h3>
<div class="ribbon">
  <% @movies.seventies.shuffle.take(15).each do |movie| %>
    <%= link_to image_tag(movie.image_url, class: "poster-container"), movie_url(movie.id) %>
  <% end %>
</div>

<h3>Eighties Movies</h3>
<div class="ribbon">
  <% @movies.eighties.shuffle.take(15).each do |movie| %>
    <%= link_to image_tag(movie.image_url, class: "poster-container"), movie_url(movie.id) %>
  <% end %>
</div>

<h3>90s Movies</h3>
<div class="ribbon">
  <% @movies.ninties.shuffle.take(15).each do |movie| %>
    <%= link_to image_tag(movie.image_url, class: "poster-container"), movie_url(movie.id) %>
  <% end %>
</div>

<!--
  Try adding more film strip recommendations like movies longer than 120 minutes,
  trilogies, collections of movies with a specific actors, movies with a theme.
-->

<h3>Movies A to Z</h3>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image_url, class: "poster-container"), movie_url(movie.id) %>
<% end %>
