<h1>New Movie</h1>


<%= form_tag(movies_url, method: 'post') do %>


  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :year %><br />
    <%= number_field_tag :year %>
  </div>


  <div>
    <%= label_tag :director_id %><br />
    <% directors = Director.all.order("name") %>
    <%= select_tag "director_id",
                   options_from_collection_for_select(directors, :id, :name) %>
  </div>


  <div>
    <%= submit_tag "Create Movie" %>
  </div>
<% end %>
