<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<% the_director = Director.find_by(id: @movie.director_id) %>
<p>Directed By: <%= the_director.name %>, born <%= the_director.dob %></p>
