<tr>
  <td><%= link_to image_tag(director.image_url, width: "100px") %></td>
  <td><%= link_to director.name, director_path(director) %></td>
  <td><%= director.dob %></td>

  <td><%= link_to 'Edit', edit_director_url(director) %></td>
  <td><%= link_to 'Destroy', director_url(director), method: 'delete', data: { confirm: "Do you really want to delete this director?" } %></td>

</tr>
