<%= form_for(@director) do |f| %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 80, placeholder: "Name" %>
  </div>

  <div>
    <%= f.label :bio %><br />
    <%= f.text_area :bio, rows: 5, cols: 80 %>
  </div>

  <div>
    <%= f.label :image_url, 'Image URL' %><br />
    <%= f.text_field :image_url, size: 80 %>
  </div>

  <div>
    <%= f.label :dob, "DOB" %><br />
    <%= f.text_field :dob %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
